.main {
  margin-left: 16.66666667%;
}

.loginContainer {
  margin-top: 25%;
  padding: 5%;
  background: @orange;
  border: 1px solid @orange;
  border-radius: 20px;

  label {
    color: @white;
  }
  
  .errors {
    margin-top: 35px;
    color: @white;
    i {
      margin-right: 5px;
    }
  }
}

.content {
  margin-top: -20px;
}

.profileImage {
  border-radius: 50px;
  padding: 10px;
}

.usersContainer > div > div > table.table > tbody > tr > td {
  vertical-align: middle;
}

.categoriesContainer > div > div > table.table > tbody > tr > td {
  vertical-align: middle;
}

.lessonsContainer > div > div > table.table > tbody > tr > td {
  vertical-align: middle;
}

.classroomsContainer > div > div > table.table > tbody > tr > td {
  vertical-align: middle;
}

.usersContainer {
  .userForm {
    .errors {
      margin-top: 15px;
      color: @orange;
      text-align: center;
    }
  }
}

.categoriesContainer {
  .categoryForm {
    .errors {
      margin-top: 15px;
      color: @orange;
      text-align: center;
    }
  }
}

.lessonsContainer {
  .lessonForm {
    .actionButton {
      float: right;
      margin-right: 10px;
      :after {
        clear: both;
      }
    }
    .errors {
      margin-top: 15px;
      color: @orange;
      text-align: center;
    }
  }
}

.classroomsContainer {
  .categoryForm {
    .errors {
      margin-top: 15px;
      color: @orange;
      text-align: center;
    }
  }
}